---
import type { SiteMeta } from "@/types";
import BaseHead from "@/components/BaseHead";
import Header from "@/components/Header";
import Footer from "@/components/Footer";
import SkipLink from "@/components/SkipLink";
import siteMeta from "src/site-meta.config";

export type Props = {
	meta: SiteMeta;
};

const {
	meta: { title, description, image },
} = Astro.props as Props;
---

<html lang={siteMeta.lang}>
	<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
	<script type="text/javascript">
		algoliasearchNetlify({
			appId: '4AJE3IU2EJ',
			apiKey: '550a28d528f5843208d0c75059d39c02',
			siteId: '8dd025e9-b369-4688-90f3-3ee987695caf',
			branch: 'main',
			selector: 'div#search',
		});
	</script>
	<div id="search"></div>

<!-- Before the closing </head> -->

	<!-- Before the closing </body> -->

			<BaseHead title={title} description={description} image={image} />
		<script define:vars={{ siteMeta }}>
			const root = document.documentElement;
			const colorThemeMetaTag = document.querySelector(
				"meta[name='theme-color']"
			);
			const theme =
				typeof localStorage !== "undefined"
					? localStorage.getItem("theme")
					: null;
			if (
				theme === "dark" ||
				(!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				root.classList.add("dark");
				colorThemeMetaTag.setAttribute("content", siteMeta.themeColorDark);
			} else {
				root.classList.remove("dark");
				colorThemeMetaTag.setAttribute("content", siteMeta.themeColorLight);
			}
		</script>

	</head>
	<body>
		<SkipLink />
		<Header />
		<main id="main" class="flex-1">
			<slot />
		</main>
		<Footer />
		</body>
</html>
